@font-face{
    font-family: Koruri-Light;
    src: url(https://github.com/Koruri/Koruri/blob/master/Koruri-Light.ttf);
}
body{
    background-color: black;
    font-family: 'Inconsolata',Koruri-Light,sans-serif;
    font-size: 120%;
    color: red;
    text-align: center;
}
h1{
   color: red;
}
a:link{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: orangered;
}
.line01 {border-top:solid 2px red;}