body{
    background-color: white;
    font-family: 'Inconsolata','Hiragino Kaku Gothic ProN',Roboto,sans-serif;
    font-size: 120%;
    color: red;
    text-align: center;
}
h1{
   color: red;
}
a:link{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: orangered;
}
.line01 {border-top:solid 2px red;}