body{
    background-color: black;
    font-family:Verdana,Roboto,'Hiragino Kaku Gothic ProN',sans-serif;
    font-size: 120%;
    color: red;
    text-align: center;
}
h1{
   color: red;
}
a:link{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: orangered;
}
.line01 {border-top:solid 2px red;}