body{
    font-family:'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 150px;
    text-align: center;
}
.yu01{
    color:#fac779;
}

.yu02{
    color:#f199a2;
}

.shiki{
    color:#9ec2e7;
}
